.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 60px;
  align-self: flex-start;
  z-index: 0;
  transform: -15deg;
  animation: rotation 20s linear infinite;
}
