.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  color: #ffffff;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s ease-in-out 0.1s;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: 0.6;
}
