@import url(_hover/feynman__link_hover.css);

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  z-index: 1;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  right: 48px;
  transition: opacity 0.3s ease-in-out 0.1s;
}
