.footer__Author {
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
  position: absolute;
  margin-top: 200px;
  margin-bottom: 40px;
  margin-left: 64px;
}
