.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/*Clase Agregada para ver los bordes!*/
div {
  border: 1px;
}

* {
  box-sizing: border-box;
}

.header {
  height: 100vh;

  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  background-color: #f2f2f2;
  justify-content: space-between;
}

.logo__place_header {
  z-index: 1;
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  width: 154px;
  height: 31px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  position: absolute;
  font-size: 102px;
  font-style: bold;
  line-height: 96px;
  margin-top: 250px;
}

.header__subtitle {
  width: 388px;
  margin-left: 64px;
  position: absolute;
  margin-top: 620px;
  z-index: 1;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin-left: 64px;
  margin-top: 700px;
  align-items: flex-end;
  color: #2f80ed;
}

.header__main-illustration {
  width: 650;
  height: 568;
  margin-top: 100px;
  align-items: flex-end;
  /*position: absolute;*/
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 390px;
  margin-top: 64px;
  padding-top: 64px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns__brief {
  padding-top: 10px;
  width: 175px;
  text-align: left;
}

.two-columns__brief-text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin-left: 80px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-style: bold;
}
.digits {
  padding-top: 100px;
}

.digits__section-title {
  width: 60%;
  margin-left: 20%;
}

.digits__section-title_text {
  line-height: 1.15px;
  font-size: 60px;
  font-style: bold;
  text-align: center;
}

.digits__section-subtitle {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
}

.digits__section-subtitle_text {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 100px;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15px;
  font-size: 24px;
  font-style: bold;
}

.table__text {
  line-height: 1, 2px;
  font-size: 18px;
  font-style: normal;
  padding-top: 20px;
}

.table__text_footer-text {
  padding-top: 20px;
}

.feynman {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1, 15px;
  font-size: 120px;
  font-style: bold;
  text-align: center;
  width: 775px;
  position: absolute;
  margin-left: 18%;
  margin-bottom: 20%;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  position: absolute;
  margin-left: 27%;
  padding-top: 15%;
}

.feynman__link {
  position: absolute;
  z-index: 1;
  padding-top: 15%;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  right: 450px;
}

.feynman__image {
  background-image: url("../images/feynman.png");
  background-position: left;
  background-repeat: no-repeat;
  width: 867px;
  height: 637px;
  margin-top: 60px;
}

.kaufman {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-bottom: 90px;
  background-color: #000000;
  overflow: hidden;
}

.kaufman__triangule {
  background-image: url("../images/kaufman-triangle.svg");
  background-position-x: 145%;
  background-position-y: 5%;
  background-repeat: no-repeat;
  background-size: 55%;
}

.kayfman__section-title_theme-dark {
  width: 60%;
  margin-left: 20%;
  color: #ffffff;
  text-align: center;
  align-content: center;
  padding-top: 90px;
}

.kaufman__section-title-text_theme-dark {
  line-height: 1, 15px;
  font-size: 60px;
  font-style: bold;

  color: #ffffff;
}

.kaufman__section-subtitle_theme-dark {
  width: 60%;
  margin-left: 20%;
  margin-top: 20px;
  color: #ffffff;
}

.kaufman__section-subtitle-text_theme-dark {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

.table__theme-dark {
  width: 1100px;
  margin-top: 60px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 60px;
}

/* including elements with key-value modifiers */
.table__heading_theme-dark {
  color: white;
  font-size: 24px;
  font-style: bold;
  line-height: 1, 15px;
}

.table__text_theme-dark {
  line-height: 1, 2px;
  color: white;
  padding-top: 18px;
  font-style: normal;
  text-align: left;
}

.table__cell_theme-dark {
  width: 200px;
  list-style-type: none;
  color: white;
  margin: auto;
  padding-top: 80px;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
  color: #ffffff;
}

.footer {
  background-color: #000000;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
}

.footer__columns {
  flex-basis: 711px;
  margin-left: 80px;
}

.footer__column_content-copyright {
  width: 711px;
}

.footer__column_content-about {
  padding-left: 5%;
  padding-right: 5%;
}

.footer__Author {
  padding-top: 18px;
  padding-bottom: 18px;
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin-top: 170px;
  margin-left: 20px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-style: bold;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  list-style-type: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.footer__list {
  padding-bottom: 36px;
}

.footer__column_content-social {
  align-items: flex-start;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
}
