.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/*Clase Agregada para ver los bordes!*/
div {
  border: 1px solid red;
}

* {
  box-sizing: border-box;
}

.header {
  height: 100vh;

  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  background-color: #f2f2f2;
  justify-content: space-between;
}

.logo_place_header {
  z-index: 1;
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  width: 154px;
  height: 31px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  position: absolute;
  font-size: 102px;
  font-style: bold;
  line-height: 96px;
  margin-top: 250px;
}

.header__subtitle {
  width: 388px;
  margin-left: 64px;
  position: absolute;
  bottom: 490px;
  z-index: 1;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  margin-left: 64px;
  margin-top: 700px;
  align-items: flex-end;
  color: #2f80ed;
}

.header__main-illustration {
  width: 650;
  height: 568;
  margin-top: 100px;
  align-items: flex-end;
  /*position: absolute;*/
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 390px;
  margin-top: 64px;
  padding-top: 64px;
}

.two-columns {
  display: flex;
  padding: 100px;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  text-align: center;
}

.two-columns__brief-text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80;
  min-width: 784px;
}

.two-columns__paragraph {
}

.two-columns__paragraph-text {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-style: bold;
}
/*
.digits {
}

.digits__section-titlet {
}
*/
/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
