.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/*Clase Agregada para ver los bordes!*/

* {
  box-sizing: border-box;
  border: 1px;
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* parameters for the header section */
  display: flex;
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;
}

.logo__place_header {
  z-index: 1;
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  width: 154px;
  height: 31px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  position: absolute;
  font-size: 102px;
  font-style: bold;
  line-height: 96px;
  align-self: center;
}

.header__subtitle {
  width: 388px;
  margin-left: 64px;
  position: absolute;
  padding-bottom: 60px;
  bottom: 0;
  z-index: 1;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
}

.header__link {
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 650;
  height: 568;
  right: 0;
  bottom: 0;
  position: relative;
  padding-left: 700px;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 60px;
  align-self: flex-start;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  padding-top: 100px;
  margin-bottom: 100px;
  padding-left: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: initial;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-style: bold;
}

.digits {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digits__section-title {
  line-height: 1.15px;
  font-size: 60px;
  font-style: bold;
}

.digits__section-subtitle {
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  padding-top: 20px;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 15%;
  padding-bottom: 100px;
  row-gap: initial;
  position: relative;
}

.table__cell {
  width: 250px;
  list-style-type: none;
  padding-top: 60px;
}

.table__heading {
  line-height: 1.15px;
  font-size: 24px;
  font-style: bold;
}

.table__text {
  line-height: 1, 2px;
  font-size: 18px;
  font-style: normal;
  padding-top: 20px;
}

.feynman {
  height: auto;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1, 15px;
  font-size: 120px;
  font-style: bold;
  text-align: center;
  width: 775px;
  position: absolute;
  padding-top: 20px;
  left: 35%;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  position: absolute;
  left: 46%;
  margin-top: 17%;
}

.feynman__link {
  position: absolute;
  z-index: 1;
  top: 200%;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  right: 0;
  margin-right: 20%;
}

.feynman__image {
  width: 867px;
  height: 637px;
  margin-top: 60px;
}

.kaufman {
  display: flex;
  position: relative;
  align-items: initial;
  flex-direction: column;
  padding-bottom: 90px;
  background-color: #000000;
  overflow: hidden;
}

.kaufman__triangule {
  width: 568;
  height: 636px;
  position: absolute;
  transform: scale(115%);
  margin-top: 50px;
  margin-left: 68%;
  z-index: 0;
}

.kayfman__section-title_theme_dark {
  width: 60%;
  margin-left: 20%;
  color: #ffffff;
  text-align: center;
  align-content: center;
  padding-top: 90px;
  line-height: 1, 15px;
  font-size: 60px;
  font-style: bold;
  position: absolute;
  z-index: 1;
}

.kaufman__section-subtitle_theme_dark {
  width: 60%;
  margin-left: 20%;
  margin-top: 15%;
  padding-top: 20px;
  color: #ffffff;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
}

.table__theme_dark {
  margin-top: 60px;
  flex-direction: row;
  margin-bottom: 60px;
}

/* including elements with key-value modifiers */
.table__heading_theme_dark {
  margin-top: 80px;
}

.table__text_theme_dark {
  color: white;
  padding-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  padding-top: 80px;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
  color: #ffffff;
}

.footer {
  background-color: #000000;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  min-height: 90%;
  position: relative;
}

.footer__columns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: flex-start;
}

.footer__column_content_about {
  row-gap: initial;
}

.footer__Author {
  padding-top: 20%;
  margin-bottom: 5%;
  color: #ffffff;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-style: bold;
  color: #ffffff;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-style: normal;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.footer__list {
  padding-bottom: 36px;
  list-style: none;
  padding: 0;
}

.footer__column_content-social {
  row-gap: initial;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
